:root {
    --primary-text-color:#212121;
    --p-text-color:#757575;
    --accent-color:#2196F3;
    --primary-white-color:#FFFFFF;
    --bgc-color:#F5F5F5;
    --silver-bgc:#F5F4FA;
}


body {
    background-color:#F5F5F5 ;
    color:#212121 ;
    font-family: Roboto, sans-serif;
}

/* header */
 .header-logo {
    color: #000000;
    font-family: 'Raleway';
    font-style: 400;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 3%;
    text-decoration: none;
}
.header-logo:hover {
    color:#2196F3 ;
}
ul {
    list-style: none;
}
/* цвет фона  #F5F5F5 */
/* акцент #2196F3 */
/* белый #FFFFFF */
/* основ цвет текста #212121 */
/* цвет лого #000000 и #2196F3 */
/* hooter bgc #2F303A */
/* hooter text #FFFFFF */
/* command bgc #F5F4FA  */
/* footer bgc #2F303A */
/* цвет абзацов #757575 */


/* site nav */
.site-nav .link {
    color: #000000;
    font-family: Roboto, sans-serif;  
    font-style: 500; 
    font-size: 14px;  
    line-height: 1.1;
    letter-spacing: 2%; 
}
.site-nav .link:hover,
.site-nav .link:focus {
    color:#2196F3;}
    .site-nav .link.current{
        color:var(--accent-color);
    }
    /* auth nav */
    .auth-nav .link{
            color: var(--p-text-color);
            font-family: Roboto, sans-serif; 
            font-style: medium;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 2%;
            text-decoration: none; 
        }
.auth-nav .link:hover,
.auth-nav .link:focus {
    color: #2196F3;
}
/* hero */
.hero-title {
    color:#000000 ;
    font-family: 'Roboto';
        font-style: 400;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
}
/* secttion */
.section-title {
    color: #212121;
}


.link{
    color: #2196F3;
}
    
/* text */
.section-title .text {
    color: var(--p-text-color);
}
p {
    color: var(--p-text-color);
}
/* button */
button:hover{ 
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}

button{
    background-color: #F5F4FA;
    color: var(--primary-text-color);
    font-family: inherit;
}
.btn{
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    font-family: inherit;
}
.btn:hover{
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
}
/* bgc color section */
.port-bgc .section-dev {
    background-color:var(--bgc-color);
}
.header-port .header-studio{
    background-color: var(--primary-white-color);
}


.section-hum {
    background-color:var(--silver-bgc);
}
address{
    font-style: 400;
}
h3{
    font-style: 400;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03%;
}
p{
        font-style: 400;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03%;
        color: #757575;
}
h2{
        font-style: 400;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03%;
}
.link-tel, .link-mail{
    font-family: 'Roboto';
        font-style: 400;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03%;
        color: rgba(255, 255, 255, 0.6);
        text-decoration: none;
}
footer{
    background-color: #2F303A;
}
.link-map{
        font-style: 400;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03%;
        color: #FFFFFF;
        text-decoration: none;
}